[user]
        email = nullrr@gmail.com
        name = null
[core]
        pager = cat 
#        autocrlf = false
[push]
        default = simple
[alias]
        gl="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
        gla="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all"
        dl = diff --name-only 
